@media (width:600px){
   body{
     font-size:16px;
   }
}
@media (min-width:600px) and (max-width:900px){
   body{
     font-size:18px;
   }
}
@media (min-width:600px){
   body{
     font-size:24px;
   }
}